@mixin pirv{
    margin-left: 37px;
    margin-top: 68px;
    font-size: 12px;
    line-height: 12px;
    color: #8A8787;
}
@mixin ferebi{
    font-size: 20px;
    font-weight: 700;
    font-family: roboto;
    color: #FFFFFF;
}
@mixin h-ert{
    color: #FFFFFF;
    position: absolute;
    top: 163px;
}
@mixin futer{
    color: #818687;
    font-size: 12px;
    font-weight: 700;
    font-family: roboto;
}